# backend server
fastapi
uvicorn

# chatbot api
langchain_google_genai
langchain-google-genai
langchain_community
langchain_text_splitters
groq
langchain_chroma
gradio
pypdf

# utils
python-dotenv

# testing
pytest 
pytest-asyncio
